JWT_SECRET=
REFRESH_TOKEN_SECRET=
PORT=
NODE_ENV=
API_VERSION="v1"
MONGO_URI=
ELASTIC_PASSWORD=
KIBANA_PASSWORD=
CORS_URL=
CRITICAL_STOCK_LEVEL=
WARNING_STOCK_LEVEL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# Resend Configuration
RESEND_API_KEY=
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

